<!DOCTYPE html>
<html lang="en" ng-app="flickrApp">
  <head>
    <meta charset="UTF-8" />
    <title>Flickr Searcher</title>
    <script data-require="angular.js@1.5.3" data-semver="1.5.3" src="https://code.angularjs.org/1.5.3/angular.js"></script>
  	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div>
      <h1>Flickr Searcher</h1>
      <h2>Search Flickr for photos</h2>
    </div>
    <div ng-controller="flickrController">
      <form ng-submit="getPhotos()">
        <input type="text" id="search-term" name="search_tag" ng-model="search_tag" required="" />
        <button type="submit" id="submit" >Submit</button>
      </form>
      <div class="results" ng-if="results" ng-cloak>
        <h2 ng-cloak>Here are {{ results.length }} results for {{ search_tag }}</h2>
        <div>
          <ul>
            <div ng-repeat="results in results" ng-cloak>
              <li ng-cloak>
                <a href="https://farm{{results.farm}}.staticflickr.com/{{results.server}}/{{results.id}}_{{results.secret}}.jpg" target="_blank"><img ng-src="https://farm{{results.farm}}.staticflickr.com/{{results.server}}/{{results.id}}_{{results.secret}}.jpg"/></a>
                <h4 ng-cloak>{{ results.title }}</h4>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>

</html>
